<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todoList</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="app">
        <div class="todoList">
            <div class="todoList_title">
                <h1>TodoList</h1>
            </div>
            <div class="todoList_inputTodo">
                <input type="text" placeholder="請輸入代辦事項" v-model="todos" v-on:keyup.enter="addTodoList(todos)">
                <input type="button" value="輸入" v-on:click="addTodoList(todos)">
            </div>
            <div class="todoList_typeChoice">
                <input type="button" value="全部" v-on:click="changeTypeChoice('all')"
                    v-bind:class="{active:typeChoice=='all'}">
                <input type="button" value="待完成" v-on:click="changeTypeChoice(false)"
                    v-bind:class="{active:typeChoice==false}">
                <input type="button" value="已完成" v-on:click="changeTypeChoice(true)"
                    v-bind:class="{active:typeChoice==true}">
            </div>
            <div class="todoList_showTodo">
                <ul>
                    <div v-for="todoList in todoList">
                        <li v-if="typeChoice =='all'">
                            <div>
                                <input type="checkbox" v-model="todoList.finish">
                                <!--看changeAble為true or false-->
                                <span v-bind:class="{finishY:todoList.finish}" v-if="!todoList.changeAble">{{todoList.name}}</span>
                                <input type="text" v-model="todoList.name"  v-else-if="todoList.changeAble">
                            </div>
                            <div>
                                <!--看changeAble為true or false-->
                                <a href="" v-if="!todoList.changeAble" v-on:click.prevent="changeChangeAble(todoList)">修改</a>
                                <a href="" v-else-if="todoList.changeAble" v-on:click.prevent="changeChangeAble(todoList)">確認</a>
                                
                                <a href="" v-on:click.prevent="delTodoList(todoList)"> 刪除</a>
                            </div>
                        </li>
                        <li v-else-if="typeChoice == todoList.finish">
                            <div>
                                <input type="checkbox" v-model="todoList.finish">
                                <span v-bind:class="{finishY:todoList.finish}">{{todoList.name}}</span>
                            </div>
                            <div>
                                <a href="">修改</a>
                                <a href="" v-on:click.prevent="delTodoList(todoList)">刪除</a>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="todoList_control">
                <div>
                    <input type="checkbox" v-model="choice" v-on:click="choiceAll(!choice)">全部標記已完成
                </div>
                <div>
                    <input type="button" value="刪除" v-on:click="delTodoList_choice()">
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
</body>

</html>